<footer class="text-center text-white mt-4" style="background-color: #000">
  

  
  <hr class="text-dark">
  
  <div class="container">
    <!-- Section: Social media -->
    <section class="mb-3">
      
      <!-- Instagram -->
      <a
        class="btn-link btn-floating btn-lg text-white"
        href="http://instagram.com/the_p_pattern"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-instagram"></i
      ></a>
 
      
    </section>
    <!-- Section: Social media -->
    <span class="text-white" >+233 0534342245</span>
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);  color: #E0E0E0">
    © 2023 Copyright:
    <a class="text-white" href="/">The Pattern</a>
  </div>
  <!-- Copyright -->
</footer>